[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "deps/luajit"]
	path = deps/luajit
	url = https://github.com/WohlSoft/LuaJIT
[submodule "deps/box2d"]
	path = deps/box2d
	url = https://github.com/erincatto/box2d.git
