# Auto detect text files and perform LF normalization
* text=auto

# Ensure that lua headers and shaders are not regenerated if their line endings change
*.lua text eol=lf
*.fs text eol=lf
*.png binary
*.ttf binary
